{{#.}}
<li class="topcoat-list__item">
    <a href="#eventScreen/{{this.category}}/{{this.uuid}}">
    <p>{{this.name}}</p><p>{{this.category}}</p><p>{{this.distance}}</p><p>{{this.city}}</p><span class="chevron"></span></a>
    {{#if this.event_type_1}}
        <img src="../img/{{this.event_type_1}}.png" />
    {{/if}}
    {{#if this.event_type_2}}
        <img src="../img/{{this.event_type_2}}.png" />
    {{/if}}
    {{#if this.event_type_3}}
        <img src="../img/{{this.event_type_3}}.png" />
    {{/if}}
    {{#if this.event_type_4}}
        <img src="../img/{{this.event_type_4}}.png" />
    {{/if}}
</li>
{{/.}}